<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" media="all">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/gauge.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
