.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

.block {
    width: 440px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -220px;
    text-align: center;
}