{% extends 'base.html.twig' %}

{% block body %}
    <div class="parent">
        <div class="block">
            <canvas width="440" height="140" id="cpu"></canvas>
            <div class="text">Current CPU-Usage: <span id="preview"></span></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            var opts = {
                lines: 12,
                angle: 0,
                lineWidth: 0.10,
                pointer: {
                    length: 0.85,
                    strokeWidth: 0.035,
                    color: '#000000'
                },
                limitMax: 'false',
                colorStart: '#6FADCF',
                colorStop: '#8FC0DA',
                strokeColor: '#E0E0E0',
                generateGradient: true
            };
            var target = document.getElementById('cpu');
            var gauge = new Gauge(target).setOptions(opts);
            gauge.maxValue = 100;
            gauge.animationSpeed = 32;
            gauge.set(1);
            gauge.setTextField(document.getElementById("preview"));

            function cpu() {
                $.ajax({
                    method: "GET",
                    url: "/cpu",
                    success : function (res) {
                        gauge.set(res.value);
                    }
                });
            }

            setInterval(cpu, 2000);

        });
    </script>
{% endblock %}
